<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Transfer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <div class="container">
        <h1>File Transfer</h1>
        <table>
            <thead>
                <tr>
                    <th>Filename</th>
                    <th>Size</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody id="file-table">
                {% for file in files %}
                <tr>
                    <td>{{ file.name }}</td>
                    <td>{{ file.size }}</td>
                    <td><a href="/download/{{ file.name }}" class="download-btn">Download</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        var socket = io();
        socket.on('update', function() {
            location.reload();
        });
    </script>
</body>
</html>
